.wrapper2
{
    width:100%;
}
.top
{
    border-radius: 10px;
    display: flex;
    width:100%;
    padding:15px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.in-top
{
    margin:5px;
}

.bot
{
    background-color: #2f353c;
    width:100%;
    padding:15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
#tytul
{
    font-size:48px;
}
#opis
{
    font-size:24px;
}
#album-img img
{
    width:350px;
    height:200px;
}