{% extends 'base.html' %}

{% block title %} Find song by name {% endblock %}

{% block content %}

<div class="record search-form">

    <form method="post">
        <input type="text" name="title" value="{{request.form['title']}}" placeholder="Wpisz frazę"><br>
        <input type="submit" value="Szukaj">
    </form>

</div>

{% for song in songs['hits'] %}

<div class="record">
    Tytuł: {{song['result']['title']}}<br>
    Wykonawcy: {{song['result']['artist_names']}}
</div>


{% endfor %}
{% endblock %}

