{% extends 'base.html' %}
{% block title %} Find song by name {% endblock %}

{% block content %}

<div class="record search-form">
    Wyniki dla: "<b>{{request.form['title']}}</b>"
    
</div>

{% for song in songs['hits'] %}
<a href="{{url_for('showsong')}}" id="showsonga">

    <div class="record">
        <img src="{{song['result']['header_image_thumbnail_url']}}" id="song_img">
        <div id="song_res_desc">
            <span id='tytul'>{{song['result']['title'] | bold(request.form['title'])}}</span><br>
            {{song['result']['artist_names'] | bold(request.form['title'])}}<br>

        </div>
        <script>
            console.log("{{song['result'].keys()}}")
        </script> 
    </div>
</a>


{% endfor %}
{% endblock %}

