{% extends 'base.html' %}

{% block title %} Find song by name {% endblock %}

{% block content %}

<div class="record search-form">

    <form method="post">
        <input type="text" name="title" value="{{request.form['title']}}" placeholder="Wpisz frazę"><br>
        <input type="submit" value="Szukaj">
    </form>

</div>

{% for song in songs['hits'] %}
<a href="{{url_for('showsong')}}" id="showsonga">

    <div class="record">
        <img src="{{song['result']['header_image_thumbnail_url']}}" id="song_img">
        <div id="song_res_desc">
            <b>{{song['result']['title']}}</b><br>
            {{song['result']['artist_names']}}<br>

        </div>
        <script>
            console.log("{{song['result'].keys()}}")
        </script> 
    </div>
</a>


{% endfor %}
{% endblock %}

